<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    
    
    <div class="mb-3 col-4 mx-auto p-2">
        <label class="form-label">CHECK-IN DATE:</label>
        <input class="form-control" type="date" formControlName="checkInDate">
        <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
            CHECK-IN DATE is required and must be a valid date.
        </small>
    </div>

    <div class="mb-3 col-4 mx-auto p-2" >
        <label class="form-label">CHECK-Out DATE:</label>
        <input class="form-control" type="date" formControlName="checkOutDate">
        <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
            CHECK-Out DATE is required and must be a valid date.
        </small>
    </div>
    
    <div class="mb-3 col-4 mx-auto p-2">
        <label class="form-label">GUEST NAME:</label>
        <input class="form-control" type="text" formControlName="guestName">
        <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
            GUEST NAME is required and must be a valid date.
        </small>
    </div>

    <div class="mb-3 col-4 mx-auto p-2" >
        <label class="form-label">GUEST EMAIL:</label>
        <input class="form-control" type="email" formControlName="guestEmail">
        <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
            Email is required and must be a valid date.
        </small>
    </div>

    <div class="mb-3 col-4 mx-auto p-2">
        <label class="form-label">ROOM NUMBER:</label>
        <input class="form-control" type="number" formControlName="roomNumber">
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
            ROOM NUMBER is required and must be a valid date.
        </small>
    </div>
    
    <div class="mb-3 col-4 mx-auto p-2">
        <button class="btn btn-primary " type="submit" [disabled]="reservationForm.invalid">Submit</button>
    </div>
</form>

